.mat-card {
  width: 80%;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}
.mat-card-title {
  text-align: center;
  color: white;
}
.mat-card-subtitle {
  text-align: center;
  color: white;
}
.mat-card-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.left {
  text-align: center;
  align-items: flex-start;
}
.right {
  text-align: center;
  align-items: flex-end;
}
// CSS
