<!-- Desktop version -->
<div fxHide.lt-md>
  <mat-tab-group
    mat-align-tabs="start"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <!-- upcomming Matches -->
    <mat-tab label="Upcomming Matches"
      ><div
        style="background-color: lightgray"
        fxLayout="column"
        fxLayoutAlign="center center"
        *ngFor="let match of ongoingMatches"
        (click)="score(match.unique_id)"
      >
        <div>
          <br />
          <mat-card>
            <mat-card-title>{{ match.date | date }}</mat-card-title>
            <mat-card-subtitle> {{ match.type }}<br /></mat-card-subtitle>
            <mat-card-content>
              <h1 class="left">Team 1 <br />{{ match["team-1"] }}</h1>
              <br />
              <h1 class="right">Team 2<br />{{ match["team-2"] }}</h1>
              <br />
            </mat-card-content>
            <mat-card-subtitle
              ><p>Toss</p>
              {{ match.toss_winner_team }}<br
            /></mat-card-subtitle> </mat-card
          ><br />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Upcomming Matches"
      ><div
        style="background-color: lightgray"
        fxLayout="column"
        fxLayoutAlign="center center"
        *ngFor="let match of UpcommingMatches"
        (click)="score(match.unique_id)"
      >
        <br />
        <mat-card>
          <mat-card-title>{{ match.date | date }}</mat-card-title>
          <mat-card-subtitle> {{ match.type }}<br /></mat-card-subtitle>

          <mat-card-content>
            <h1 class="left">Team 1 <br />{{ match["team-1"] }}</h1>
            <br />
            <h1 class="right">Team 2<br />{{ match["team-2"] }}</h1>
            <br />
          </mat-card-content>
          <mat-card-subtitle
            ><p>Toss</p>
            {{ match.toss_winner_team }}<br
          /></mat-card-subtitle>
        </mat-card>
      </div>
      <br
    /></mat-tab>
  </mat-tab-group>
</div>
<!-- Mobile version -->
<div fxHide.gt-md>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Ongoing Matches">
      <div>
        <br />
        <mat-card *ngFor="let match of ongoingMatches">
          <mat-card-title>{{ match.date | date }}</mat-card-title>
          <mat-card-subtitle> {{ match.type }}<br /></mat-card-subtitle>

          <mat-card-content>
            <h1 class="left">Team 1 <br />{{ match["team-1"] }}</h1>
            <br />
            <h1 class="right">Team 2<br />{{ match["team-2"] }}</h1>
            <br />
          </mat-card-content>
          <mat-card-subtitle
            ><p>Toss</p>
            {{ match.toss_winner_team }}<br
          /></mat-card-subtitle> </mat-card
        ><br />
      </div>
    </mat-tab>
    <mat-tab label="Upcomming Matches"
      ><div>
        <br />
        <mat-card *ngFor="let match of UpcommingMatches">
          <mat-card-title>{{ match.date | date }}</mat-card-title>
          <mat-card-subtitle> {{ match.type }}<br /></mat-card-subtitle>

          <mat-card-content>
            <h1 class="left">Team 1 <br />{{ match["team-1"] }}</h1>
            <br />
            <h1 class="right">Team 2<br />{{ match["team-2"] }}</h1>
            <br />
          </mat-card-content>
          <mat-card-subtitle
            ><p>Toss</p>
            {{ match.toss_winner_team }}<br
          /></mat-card-subtitle>
        </mat-card>
      </div>
      <br
    /></mat-tab>
  </mat-tab-group>
</div>
